<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="For_Mdk0202_8_Pr_.Properties.Settings._8PractosConnectionString"
            connectionString="Data Source=DESKTOP-1B8H9A7\JIJA;Initial Catalog=8Practos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>